<!DOCTYPE html>
<html>
<head>
  <meta name="Content-Style-Type" content="text/css">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <form method="get" action="/list">
    <input type="submit" value="一覧へ">
  </form>
  <h3>メモ詳細</h3>
  <form method="post" action="/update_view">
    <!--memo_id type hidden-->
    <input type=hidden name="memo_id" value=<%= @memos[0]['id'] %>>

    <h4>タイトル</h4>
    <input readonly name="subject" value=<%= @memos[0]['subject'] %>><br>

    <h4>タグ</h4>
    <% @tags.each_with_index do |tag, i| %>
      <input type=hidden name="tag_id_<%= i %>" value=<%= tag['id'] %>>
      <input readonly name="tag_name_<%= i %>" value=<%= tag['name'] %>>
    <% end %>
    <!--tags length-->
    <input type="hidden" name="tags_length_of_memo" value=<%= @tags.length %>>

    <h4>内容</h4>
    <textarea style="width:100%" rows="20" readonly name="content"><%= @memos[0]['content'] %></textarea><br>
    <br>
    <input type="submit" value="編集">
  </form>
</body>
</html>