<!DOCTYPE html>
<html>
<head>
  <meta name="Content-Style-Type" content="text/css">
  <meta name="viewport" content="width=device-width,initial-scale=1">
</head>
<body>
  <form method="get" action="/list?page=1">
    <input type="submit" value="一覧へ">
  </form>
  <h3>メモ詳細</h3>
    <h4>タイトル</h4>
      <%= @memos[0]['subject'] %><br>

    <h4>タグ</h4>
    <% @tags.each do |tag| %>
      <% tag_path = "/list?page=1&tag_id=#{tag['id']}" %>
      #<a href=<%= tag_path %>><%= tag['name'] %></a>&emsp;
    <% end %>

    <h4>内容</h4>
      <!--preタグ：https://creive.me/archives/13350/
                  https://lab.syncer.jp/Web/CSS/Snippet/11/-->
      <pre style="white-space:pre-line;font-weight:bold;">
        <%= @memos[0]['content'] %>
      </pre>
    <br>
  
  <!--サーバ側へ送信用(ブラウザからは非表示)-->
  <div style="display:inline-flex">
    <form method="post" action="/update_view">
      <input type="hidden" name="memo_id" value=<%= @memos[0]['id'] %>>

      <!--タイトル-->
      <input type="hidden" name="subject" value=<%= @memos[0]['subject'] %>>

      <!--タグ-->
      <% @tags.each_with_index do |tag, i| %>
        <input type="hidden" name="tag_id_<%= i %>" value=<%= tag['id'] %>>
        <input type="hidden" name="tag_name_<%= i %>" value=<%= tag['name'] %>>
      <% end %>
      <input type="hidden" name="tags_length_of_memo" value=<%= @tags.length %>>

      <!--内容-->
      <textarea style="width:100%;display:none;" rows="20" name="content"><%= @memos[0]['content'] %></textarea>
      <input type="submit" value="編集">
    </form>
    &emsp;
    <form name="delete_memo" method="post" action="/delete_memo" onsubmit="return checkDelete()">
      <input type="hidden" name="memo_id" value=<%= @memos[0]['id'] %>>
      <input type="hidden" name="_method" value="DELETE">
      <input type="submit" name="btn" value="削除">
    </form>
  </div>

  <!--ref: https://www.sejuku.net/blog/28720 -->
  <script>
    function checkDelete() {
        var rslt = window.confirm('本当に削除しますか？');

        if (rslt) {
          return true
        } else {
          return false
        }
    }
  </script>
</body>
</html>